.profile-container {
  display: flex;
  flex-direction: row;
  padding: 45px 60px;
  flex-grow: 1;
}

.profile-info {
  width: fit-content;
  padding-right: 20px;
}

.profile-info h2 {
  margin-bottom: 10px;
}

.profile-info p {
  margin: 4px 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-texto);
}

.profile-edit-container {
  background-color: var(--color-principal);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile-edit-container div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.profile-edit-container label {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}

.profile-edit-container input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.profile-edit-container button {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  color: var(--color-texto);
  font-weight: 500;
  font-size: 20px;
  background-color: var(--color-white);
  outline: 0px solid var(--color-texto);
  outline-offset: 0px;
  transition: 0.2s;
  margin-top: 10px;
  width: fit-content;
}

.profile-edit-container button:hover {
  background-color: var(--color-white);
  outline: 3px solid var(--color-texto);
  outline-offset: 2px;
}

@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    padding: 20px;
  }
}