/*Contentedor de toda la página del carrito, a excepcion del footer y header*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 20px 60px 20px 60px;
}

/*Titulo de la página del carrito*/
h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}

/*Contenedor de todos los items del carrito*/
.cartItemsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/*Contenedor de cada item del carrito*/
.cartItem {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 10px;
  width: 100%;

  img {
    resize: contain;
    border-radius: 10px;
    width: 200px;
    height: 150px;
  }

  .productInfo {
    font-weight: 500;
    flex-direction: column;
    display: flex;
    gap: 10px;
    margin-left: 20px;
    padding: 20px 0px 20px 0px;
  }

  .productTitle {
    font-weight: 600;
    font-size: 16px;
  }

  .productDetails {
    font-weight: 400;
    font-size: 14px;
  }
}
