/*Archivo de estilos globales, usados en todas las páginas*/
:root {
  --color-principal: #e7e7e7;   /* Gris claro profesional */
  --color-neutro: #f5f5f5;      /* Fondo muy limpio */
  --color-acento: #8c8c8c;      /* Gris grafito suave */
  --color-texto: #0b051a;       /* Negro suave */

  --color-hover-bg: #c9c9c9;        /* Plata clara */
  --color-hover-bg-strong: #6f6f6f; /* Gris grafito más marcado */
  --color-hover-text: #1a1a1a;      /* Blanco para máximo contraste */
  --color-hover-border: #9e9e9e;    /* Gris medio */

  --shadow-header: 0 2px 10px rgba(0, 0, 0, 0.2);
  --shadow-dropdown: 0 8px 16px rgba(0, 0, 0, 0.4);
}


* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-neutro);
  color: var(--color-texto);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
