/* 1. Importación de fuentes de Google Fonts (Playfair Display y Lato) */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

/* Archivo de estilos globales */
:root {
  /*PALETA PERSONALIZADA */
  --color-principal: #a7d0e4;
  --color-neutro: #f2f7fa;
  --color-acento: #5aa7c7;
  --color-texto: #0b051a;

  /* Hovers */
  --color-hover-bg: var(--color-acento);
  --color-hover-text: #535353;

  /* Derivados */
  --color-white: #ffffff;
  --color-border: #d9e4ea;

  /* TIPOGRAFÍA (Variables nuevas) */
  --fuente-titulos: 'Playfair Display', serif;
  --fuente-cuerpo: 'Lato', sans-serif;

  /* Dropdown */
  --color-dropdown-bg: var(--color-principal);

  /* Sombras */
  --shadow-header: 0 2px 10px rgba(0, 0, 0, 0.15);
  --shadow-dropdown: 0 8px 16px rgba(0, 0, 0, 0.55);
}

/* Reseteo básico */
* {
  box-sizing: border-box; /* Recomendado para mantener medidas */
}

body {
  margin: 0;
  padding: 0;
  /* Aplicamos Lato como fuente base para todo el cuerpo (según tu imagen) */
  font-family: var(--fuente-cuerpo); 
  background-color: var(--color-neutro);
  color: var(--color-texto);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Títulos (Playfair Display Bold) */
h1, h2, h3 {
  font-family: var(--fuente-titulos);
  font-weight: 700; /* Bold */
}

/* Subtítulos o elementos específicos (Playfair Display Normal) */
h4, h5, h6 {
  font-family: var(--fuente-titulos);
  font-weight: 400; /* Normal */
}

/* El cuerpo ya usa Lato por defecto gracias a la regla en 'body' */
p, span, div {
  font-family: var(--fuente-cuerpo);
}