/*Archivo de estilos globales, usados en todas las páginas*/
:root {
  /* 🎨 PALETA PERSONALIZADA */
  --color-principal: #a7d0e4;
  --color-neutro: #f2f7fa;
  --color-acento: #5aa7c7;
  --color-texto: #0b051a;

  /* Hovers */
  --color-hover-bg: var(--color-acento);
  --color-hover-text: #535353;

  /* Derivados */
  --color-white: #ffffff;
  --color-border: #d9e4ea;

  /* Dropdown */
  --color-dropdown-bg: var(--color-principal);

  /* Sombras */
  --shadow-header: 0 2px 10px rgba(0, 0, 0, 0.15);
  --shadow-dropdown: 0 8px 16px rgba(0, 0, 0, 0.55);
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-neutro);
  color: var(--color-texto);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
