/*Contentedor de toda la página del carrito, a excepcion del footer y header*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 20px 60px 20px 60px;
}

/*Titulo de la página del carrito*/
h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}

/*Contenedor de todos los items del carrito*/
.cartItemsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/*Contenedor de cada item del carrito*/
.cartItem {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 10px;
  width: 100%;

  img {
    resize: contain;
    border-radius: 10px;
    width: 200px;
    height: 150px;
  }

  .productInfo {
    font-weight: 500;
    flex-direction: column;
    display: flex;
    gap: 10px;
    margin-left: 20px;
    padding: 20px 0px 20px 0px;
  }

  .productTitle {
    font-weight: 600;
    font-size: 16px;
  }

  .productDetails {
    font-weight: 400;
    font-size: 14px;
  }

  .productActions {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    button {
      border: none;
      background-color: var(--color-acento);
      border-radius: 10px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: fit-content;

      img {
        width: 30px;
        height: 30px;
      }

      span {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

.payButton {
  border: none;
  background-color: var(--color-acento);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: fit-content;
}

.payButton:hover {
  background-color: var(--color-secundario);
}

@media screen and (max-width: 768px) {
  .cartItem {
    flex-direction: column;
    img {
      width: 100%;
    }
  }
}
